@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  color: $main-color;
  font-family: Roboto,sans-serif;
}

h1, p {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 7%;
  padding-right: 7%;
}

img {
  height: auto;
}
